/* GLOBAL */
html, body {
    font-family: 'Work Sans', sans-serif;
}
.heading {
    text-align: center;
    margin-bottom: 3rem;
}
.heading h2 {
    font-size: 40px;
    font-weight: bold;
    color: #FF4F81;
    letter-spacing: 0.5px;
}
.heading p {
    font-size: 17px;
    color: #000;
    letter-spacing: 4px;
    text-transform: capitalize;
}
.heading p::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: #000;
    margin: 20px auto;
}
.heading--white p{
    color: #fff;
}
.section {
    padding: 5rem 0;
}



/* HEADER */
.header__top {
    background-color: #FF4F81;
    font-size: 14px;
}
.header__top a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s;
}
.header__top-left a:hover {
    color: #000!important;
}
.header__top-right a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    margin-left: 0.25rem;
}
.header__top-right a:hover {
    background-color: #FF4F81;
    border-color: #fff;
}
.nav-Instruction a {
    color: #000;
}
.nav-Instruction .navbar-brand p:first-child {
    font-size: 36px;
    font-weight: bold;
}
.nav-Instruction .navbar-brand p:first-child i {
    transform: skewX(-10deg);
}
.nav-Instruction .navbar-brand p:last-child {
    font-size: 11px;
    font-weight: bold;
    color: #FF4F81;
    letter-spacing: 3px;
}
#nav-bar-Instruction .nav-item {
    margin: 0 15px;
}
#nav-bar-Instruction .nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #FF4F81;
    transition: all 0.5s;
}
#nav-bar-Instruction .nav-item:hover::after {
    width: 100%;
}
#nav-bar-Instruction .nav-link {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s;
}
#nav-bar-Instruction .nav-item:hover .nav-link {
    color: #FF4F81;
}
#nav-bar-Instruction .nav-item.active .nav-link {
    color: #FF4F81;
}
#nav-bar-Instruction .nav-item.active::after {
    width: 100%;
}
#nav-bar-Instruction .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
#nav-bar-Instruction .dropdown-item {
    color: #fff;
    transition: all 0.5s;
}
#nav-bar-Instruction .dropdown-item:focus, #nav-bar-Instruction .dropdown-item:hover {
    background-color: transparent;
    color: #FF4F81;
}
.nav-Instruction .navbar-toggler {
    color: #FF4F81;
    background-color: #000;
    border-radius: 0;
}
.nav-Instruction .navbar-toggler:focus {
    outline: none;
}






/* CAROUSEL */
#carousel-Cyber .carousel-caption {
    /* Chỉ áp dụng cho thẻ có position: absolute; */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#carousel-Cyber .carousel-caption h1 {
    font-size: 52px;
}
#carousel-Cyber .carousel-caption p {
    letter-spacing: 4px;
    line-height: 1.8em;
    font-weight: 300;
    width: 70%;
    margin: 0 auto 25px;
}
#carousel-Cyber .carousel-caption button {
    padding: 11px 20px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}
#carousel-Cyber .carousel-caption button:hover {
    background-color: #FF4F81;
    border-color: #FF4F81;
}
.carousel-control-next, .carousel-control-prev {
    z-index: 11;
}








/* WELCOME */
.welcome__content>p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
    letter-spacing: 1px;
    padding: 1rem 0 0.5rem;
}
.welcome__item i {
    font-size: 2rem;
}
.welcome__item h3 {
    color: #FF4F81;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1rem 0;
}
.welcome__item h4 {
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 0.2rem;
}
.welcome__item p {
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin-top: 10px;
    letter-spacing: 1px;
}
.welcome__col {
    padding: 2rem;
}











/* OUR STATS */
.ourStats {
    background-image: url(../img/banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.ourStats__content {
    text-align: center;
    color: #fff;
}
.ourStats__item i {
    font-size: 2.5rem;
}
.ourStats__item h3 {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 30px 0 20px;
    color: #FF4F81;
}
.ourStats__item p {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
}












/* OFFER */
.offer__item {
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgb(158 158 158 / 75%);
    text-align: center;
    background-color: #fff;
    transition: all 0.5s;
}
.offer__item:hover {
    background-color: #12ccc3;
    cursor: pointer;
}
.offer__item i {
    color: #FF4F81;
    font-size: 40px;
}
.offer__item h3 {
    font-size: 20px;
    color: #000;
    margin: 25px 0 20px;
}
.offer__item p {
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.offer__col {
    padding: 15px;
}












/* FEEDBACK */
.feedback {
    background: url(../img/banner3.jpg) center;
    background-attachment: fixed;
    background-size: cover;
}
.feedback__content {
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
}
.feedback__content .item {
    color: #fff;
    padding: 1rem;
}
.feedback__top {
    position: relative;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.47);
    border-radius: 5px;
}
.feedback__top::after {
    position: absolute;
    content: "";
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: 100%;
    left: 28%;
}
.feedback__bottom {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 2rem auto 0;
}
.feedback__content .feedback__bottom img {
    width: 28%;
    display: inline-block;
}
.feedback__name {
    margin-left: 8px;
}
.feedback__name p {
    margin: 0;
    color: #FF4F81;
}
.feedback__name p:first-child {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}
.feedback__content .owl-theme .owl-dots .owl-dot span {
    background-color: #FF4F81;
    opacity: 0.5;
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}
.feedback__content .owl-theme .owl-dots .owl-dot {
    outline: none;
}









/* NEWS */
.news__content img {
    border: 2px solid #dedede;
}
.news__content h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.news__content a {
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
    letter-spacing: 1px;
}
.news__content a:hover {
    color: #FF4F81;
}
.news__content h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #FF4F81;
    letter-spacing: 1px;
    margin: 1rem 0;
}
.news__content p {
    color: #999;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 0.9rem;
}
.news__content .row:last-child {
    margin-top: 4rem;
}











/* MODAL */
.cyberModal h5 {
    font-size: 29px;
    font-weight: bold;
    color: #FF4F81;
}
.cyberModal p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding-top: 20px;
}
.cyberModal .modal-dialog {
    max-width: 600px;
}










/* FOOTER */
footer {
    background-color: #141415;
}
.footer__top h3 {
    font-size: 24px;
    font-weight: bold;
    color: #FF4F81;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}
.footer__top p {
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    color: #8b8b96;
    letter-spacing: 1px;
}
.footer__link, .footer__contact {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.footer__link i {
    color: #FF4F81;
    margin-right: 1rem;
}
.footer__link a, .footer__contact a {
    color: #8b8b96;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.footer__link a:hover, .footer__contact a:hover {
    color: #fff;
}
.footer__contact i{
    width: 32px;
    height: 32px;
    color: #fff;
    border: 1px solid #4b4b50;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}
.footer__form {
    margin-top: 3rem;
}
.footer__form label {
    color: #FF4F81;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer__form input {
    padding: 14px;
    border-radius: 0;
    border: none;
    letter-spacing: 1px;
    color: #888888;
}
.footer__form button {
    background-color: #FF4F81;
    color: #fff;
    padding: 13px 35px;
    border-radius: 0;
    outline: none;
    transition: all 0.5s;
}
.footer__form button:hover {
    background-color: #ec1955;

}
.footer__bottom {
    background-color: #0F0F10;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
}
.footer__bottom a {
    text-decoration: none;
    color: #FF4F81;
    transition: all 0.5s;
}
.footer__bottom a:hover {
    color: #fff;
}









/********************* RESPONSIVE **********************/

@media screen and (max-width: 1199.98px) {
    /* CAROUSEL */
    #carousel-Cyber .carousel-caption {
        top: 50%;
    }
    #carousel-Cyber .carousel-caption h1 {
        font-size: 4vw;
    }
    #carousel-Cyber .carousel-caption p {
        font-size: 1.6vw;
        margin-bottom: 0.5em;
    }
    #carousel-Cyber .carousel-caption button {
        font-size: 1.5vw;
        padding: 0.8em 1em;
    }
}
@media screen and (max-width: 991.98px) {
    /* HEADER */
    .nav-Instruction .navbar-brand p:first-child {
        font-size: 3vw;
    }
    .nav-Instruction .navbar-brand p:last-child {
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 767.98px) {
    /* HEADER */
    #nav-bar-Instruction .navbar-nav {
        background-color: #eee;
        text-align: center;
    }
    #nav-bar-Instruction .nav-item.active::after {
        width: 60%;
    }
    #nav-bar-Instruction .nav-item::after {
        margin: 0 auto;
    }
    #nav-bar-Instruction .nav-item:hover::after {
        width: 60%;
        margin: 0 auto;
    }
    #nav-bar-Instruction .dropdown-menu {
        background-color: #e0e1e2;
        border-color: #e0e1e2;
        text-align: center;
    }
    #nav-bar-Instruction .dropdown-item {
        color: #000;
    }
    .feedback__bottom {
        width: 100%;
    }
}
@media screen and (max-width: 575.98px) {
    .heading p {
        padding: 0 15px;
    }
    /* HEADER */
    .header__top-left a {
        display: block;
    }
    /* FOOTER */
    .footer__form input, .footer__form button {
        padding: 10px;
        border: 0;
        font-size: 14px;
    }
    .footer__form button {
        padding: 10px 20px;
    }
}
@media screen and (max-width: 415px) {
    /* CAROUSEL */
    #carousel-Cyber {
        height: 250px;
    }
    #carousel-Cyber .carousel-inner, #carousel-Cyber .carousel-item, #carousel-Cyber .carousel-item img {
        height: 100%;
    }
    #carousel-Cyber .carousel-item img {
        object-fit: cover;
    }
    .section {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 360px) {
    .footer__form label {
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    /* HEADER */
    .header__top-right {
        width: 35%;
        text-align: center;
    }
    .header__top-right a {
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    /* HEADER */
    #nav-bar-Instruction .nav-item {
        margin: 0;
        padding: 0 3px;
    }
    #nav-bar-Instruction .nav-link {
        font-size: 12px;
        padding: 5px;
    }
}












/* OFFER */
@media screen and (min-width: 991.98px) {
    .offer__item {
        height: 263px;
    }
}